body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    text-align: center;
    color: #333;
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 20px 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: inline-block;
}

a:hover {
    color: #fff;
    background-color: #007BFF;
    border-color: #0056b3;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    a {
        font-size: 16px;
        padding: 8px 16px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    ul {
        padding: 0 10px;
    }

    a {
        font-size: 14px;
        padding: 6px 12px;
    }
}